#TareasDiv {
    background-image: "../Img/TareasBackGround.jpg";
    background-color: bisque;
}

.tarea {
    margin: .2em;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#errCorreo {
    display: none;
}

#errPass {
    display: none;
}


.containerT {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: 1rem;
    margin-left: auto;
}
.containerD{
    width: 95%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin: 1rem;
}
.lista-proyecto{
    margin-top: 1rem;
    width: 90%;
}